/* GLOBAL */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'Luckiest Guy', 'Permanent Marker', cursive;
}

body h1 {
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
    font-size: 3em;
    margin: 14px;
}

canvas {
    display: block;
    box-shadow: 0 0 20px 8px;
    background-color: rgba(169, 30, 212, 0.678);
    color: rgb(21, 149, 223);
}

#backgroundIMG {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}


/* Controll-Panel */
#controllsOverlay {
    display: none;
}

.toggleControlls {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1024px;
    position: absolute;
    top: 87px;
    height: 768px;
    background-color: rgba(30, 27, 30, 0.692);
}

.moveCt {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.arrowKeys {
    width: 200px;
}

.normalAttackCt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.spaceStyle {
    width: 240px;
}

.keyStyle {
    width: 60px;
    height: 60px;
    background-color: #7FFFE0;
    border-radius: 16px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyStyle p {
    color:#531A82;
    font-size: 20px;
}




/* Startscreen */
.startscreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 87px;
    z-index: 1;
}

.startBtnStyle {
    width: 300px;
    position: absolute;
    bottom: 100px;
    right: 200px;
    cursor: pointer;
}



/* Controlls */
.controllsMain {
    width: 1024px;
    height: 60px;
    /* background-color: rgba(174, 0, 255, 0.253); */
    position: absolute;
    top: 87px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.iconContainer img {
    cursor: pointer;
    width: 40px;
    margin-left: 14px;
}


/* GameOver */
#gameOverOverlay {
    display: none;
    width: 1024px;
    position: absolute;
    top: 87px;
    height: 768px;
    background-color: rgba(30, 27, 30, 0.692);
}

.gameOverContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.gameOverContainer img {
    width: 90%;
}

.tryAgainBtn {
    margin-top: 100px;
    width: 300px !important;
    cursor: pointer ;
}



/* Winning-Screen */
#winningOverlay {
    display: none;
    width: 1024px;
    position: absolute;
    top: 87px;
    height: 768px;
    background-color: rgba(238, 13, 13, 0);
    transition: background-color 10s;
}

.winningImgStyle {
    width: 100%;
    height: 100%;
}

.winBtn {
    position: absolute;
    top: 580px;
    left: 500px;
    margin-top: 0px;
}

/* Game Controller */
.gameControllerMain {
    display: none;
}

.attackPanel {
    display: none;
}





/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
    canvas {
        width: 100%;
        height: 100vh;
        box-shadow: unset;
        background-color: unset;
        color: unset;
    }

    .controllsMain {
        width: 100%;
        top: 0px;
    }

    .iconContainer img {
        width: 32px;
        margin-left: 30px;
        opacity: 0.6
    }

    #backgroundIMG {
        display: none;
    }

    .title {
        display: none;
    }

    .iconCt {
        display: none;
    }

    .startscreenContainer {
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .wallpaper {
        width: 100%;
        height: 100%;
    }

    .startBtnStyle {
        width: 200px;
        bottom: 32px;
        right: 122px;
    }

    #gameOverOverlay {
        width: 100%;
        top: 0;
        height: 100vh;
    }

    #winningOverlay {
        width: 100%;
        top: 0;
        height: 100vh;
    }

    .winBtn {
        top: 265px;
        left: unset;
        right: 122px;
        margin-top: 0px;
    }

    .winContainer {
        display: flex;
    }

    .toggleControlls {
        width: 100%;
        top: 0;
        height: 100vh;
    }

    /* Game Controller */
    .gameControllerMain {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ctRightAndLeft {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
    }

    .arrow {
        opacity: 0.4;
    }

    .down {
        rotate: 180deg;
    }

    .right {
        rotate: 90deg;
    }

    .left {
        rotate: 270deg;
    }


    /* ATTACK-PANEL */
    .attackPanel {
        display: flex;
        position: absolute;
        right: 50px;
        bottom: 54px;
        width: 260px;
        justify-content: space-between;
    }

    .attackPanel > div {
        opacity: 0.6;
    }
    
    .attackPanel img {
        width: 64px;
    }

    .bubbleDiv {
        border: 4px solid #a3a3a3;
        border-radius: 50px;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bubbleDiv > img {
        width: 46px;
    }
}
